@model appVelas.Models.Cera

<h4>Cera</h4>
<hr />
<div class="row" style="display: block; margin-left: 3%;">
    <div @*class="col-md-4"*@>
        <form asp-action="_CrearCeraView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="IDCera" class="control-label"></label>
            <input asp-for="IDCera" class="form-control" />
            <span asp-validation-for="IDCera" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Firma" class="control-label"></label>
                <input asp-for="Firma" class="form-control" />
                <span asp-validation-for="Firma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompradoEn" class="control-label">Comprado en:</label>
                <input asp-for="CompradoEn" class="form-control" />
                <span asp-validation-for="CompradoEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coste" class="control-label"></label>
                <input asp-for="Coste" class="form-control" />
                <span asp-validation-for="Coste" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
