@model appVelas.Models.Cliente

<h4>Cliente</h4>
<hr />
<div class="row" style="display: block;margin-left: 3%;">
    <div @*class="col-md-4">*@>
        <form asp-action="_CrearClienteView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre:</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label">Dirección</label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telf" class="control-label">Telf:</label>
                <input asp-for="Telf" class="form-control" />
                <span asp-validation-for="Telf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email:</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @*Pasar el id pedido con una variable para que lo guarde*@
            @*<div class="form-group">
                <label asp-for="IDPedido" class="control-label"></label>
                <input asp-for="IDPedido" class="form-control" />
                <span asp-validation-for="IDPedido" class="text-danger"></span>
            </div>*@
        <div class="form-group">
            <input type="submit" value="Crear" class="btn btn-outline-success" style="margin-top: 43%; margin-left: 31%;" />
        </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
