@model appVelas.Models.Pack

<h4>Pack</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="_ActPackView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Firma" class="control-label"></label>
                <input asp-for="Firma" class="form-control" />
                <span asp-validation-for="Firma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompradoEn" class="control-label"></label>
                <input asp-for="CompradoEn" class="form-control" />
                <span asp-validation-for="CompradoEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coste" class="control-label"></label>
                <input asp-for="Coste" class="form-control" />
                <span asp-validation-for="Coste" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

