@{
    ViewData["Title"] = "Inicio";
}

<script src="~/js/site.js"></script>
<link href="~/css/site.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
<div>

    <div class="text-center">
        <h1 class="titulo dancing-script" style="margin-top: -27px;">
            <br>Creemos en un futuro mejor, creemos en esto
        </h1>
    </div>

    <div id="miContenedor">

    </div>

    <div id="contPedi" style="margin-top: 2rem;" >

    </div>

    <div id="contCli" style="margin-top: 2rem;">

    </div>
</div>

@*<p>
        La idea de esta aplicación es llevar un seguimiento de cada vela realizada. En el back estará todo automatizado para
        hacer:
    </p>*@
@*<ul>
        <li>Cálculos de cantidad de cera por cada molde a utilizar</li>
        <li>Cálculos de coste</li>
        <li>Precio de venta según poncentaje de beneficio</li>
        <li>Beneficio por cada vela</li>
        <li>Seguimiento de velas vendidas</li>
    </ul>*@

